@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.image-setting {
    height: 50vh;
}

.card-setting {
    padding: 15px;
    font-family: Roboto;
}

.card-heading {
    font-size: 25px;
    color: #0a1f44;
    font-weight: bold;
    margin-bottom: 15px
}

.unordered-list {
    list-style-type: square;
    font-family: Roboto;
    color: #0a1f44;
    font-size: 15px;
}

.ul-list-ele {
    margin-bottom: 15px;
}

.card-button {
    border-radius: 5px;
    font-size: 14px;
    height: 35px;
    width: 80px;
    font-family: Roboto;
}
